@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

body{
  font-family: Arial, sans-serif;
  background:linear-gradient(135deg, #70b4ec, #ffee8b);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

html {
    font-size: 20px;
    color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}
.items
{
  display: flex;
  flex-direction: column;
}
section
{
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(139, 125, 125, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}
/* .header{
  color:white;
  text-align: center;
} */
input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

button {
  margin-top: 1rem;

  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.form-container {
  background: #fffbf0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  width: 100%;
  max-width: 500px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 }

.heading {
  font-size: 2rem;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  /* background: linear-gradient(135deg, #ffffff, #f8f5f1); */
  color:#a15e12;
    /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
  margin-bottom: 20px;
}

.main
{
  display: flex;
  flex-direction: column;
}
label {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
  color: #555;
}

